header {
    background: linear-gradient(to left,  #7a7a7a, #000000);
}
footer {
    background-color: black;
}
#impression {
    display: table;
    font-size: 32px;
    font-family: 'Comic Neue', cursive;
    color: White;
}
#links {
    display: flex;
    border: 1px;
    font-family: 'Comic Neue', cursive;
    font-size: large;
}
#inform {
    display: table;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}
.photoCV {
    height: 250px;
    padding: 25 px 0;
    margin-left: 2%;
    padding-top: 2%;
    position: relative;
    display: inline;
}
.info {
    display: flex;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
	width: 100%;
}
.info-namesurname {
    display: table;
    text-align: left;
    font-size: 32px;
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
}
.info-status {
    display: table;
    text-align: left;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}
.info-contacts {
    display: table;
    text-align: left;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}
.tdwhite {
    color: white;
    font-size: 35px;
    font-family: 'Comic Neue', cursive;
    margin-left: 3%;
}