header {
    background: linear-gradient(to top, #ff9100, #ff0000);
}
footer {
    background-color: black;
}
#impression {
    display: table;
    font-size: 32px;
    font-family: Times;
    color: White;
}
#links {
    display: flex;
    border: 1px;
    font-family: sans-serif;
    font-size: large;
}
#inform {
    display: table;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}
.info {
    display: table;
    font-size: 20px;
    font-family: Arial;
    margin: 40px 0 12px;
	max-width: 620px;
	width: 960px;
	float: left;
}

.info-namesurname {
    display: table;
    text-align: left;
    font-size: 25px;
    font-family: Arial;
}
.info-status {display: table;
    text-align: left;
    font-size: 15px;
    font-family: Arial;}
.info-contacts {display: table;
    text-align: left;
    font-size: 15px;
    font-family: Arial;}
