header {
    background: linear-gradient(to left,  #7a7a7a, #000000);
}
footer {
    background-color: black;
}
#impression {
    display: table;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: White;
}
#links {
    display: flex;
    border: 1px;
    font-family: 'Playfair Display', serif;
    font-size: large;
}
nav {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
} 
nav li {
    display: inline-block;
}
#inform {
    display: table;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}
.photoCV {
    height: 250px;
    padding: 25 px 0;
    margin-left: 2%;
    padding-top: 2%;
    position: relative;
    display: inline;
}
.info {
    display: flex;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
	width: 100%;
}
.info-namesurname {
    display: table;
    text-align: left;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}
.info-status {
    display: table;
    text-align: left;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.info-contacts {
    display: table;
    text-align: left;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.tdwhite {
    color: white;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    margin-left: 3%;
}
.subtitle {
    font-family: 'Playfair Display', serif;
	font-size: 25px;
	background: #000;
	color: rgb(241, 241, 225);
	display: inline-block;
	padding: 0 2px;
	line-height: 30px;
}
.mainInfo {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    padding: 0 2px;
    }
.DetailedInfo {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 0 2px
}
span.years {
    font-size: 18px;
      	font-weight: 900;
    }
